.header
    margin-top: 6rem
    font-family: "Poppins", sans-serif
    display: flex
    &__left
        width: 100%
        &_title
            font-size: 3rem
        &_subtitle
    &_right
        width: 100%
        &_content